.popup_wrapper {
    width: 900px;
    margin: 0 auto;
    font-family: HSE Sans;
    font-style: normal;
    font-weight: normal;
}
.popup_wrapper h4 {
    font-size: 24px;
line-height: 30px;
font-family: HSE Sans;
font-style: normal;
font-weight: normal;
margin: 0;
margin-bottom: 33px;
}
.popup_title {
  font-family: HSE Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  padding: 0 135px;
  padding-top: 100px;
  margin: 0;
  margin-bottom: 120px;
  position: relative;
} 

.popup_wrapper p {
    margin: 0;
}
.social_wrapper {
    width: 125px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.social_buttons {
    margin: 65px;
}

.game_menu {
    width: 280px;
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
}

.game_menu a {
    color: #FFFFFF;
    opacity: 0.5;
    padding: 13px 50px;
    text-align: center;
    font-family: HSE Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
}

.game_menu .button_link {
    background-color: #F1DB63;
    border: none;
    color: #000000;
    opacity: 1;
    padding: 13px 50px 13px;
    border-radius: 25px;
    margin-bottom: 26px;
    font-size: 24px;
    line-height: 30px;
}

@media (max-width: 990px) {
  .popup_wrapper {
    width: auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .popup_title {
    padding: 0;
    padding: 0 45px;
    padding-top: 125px;
    font-size: 24px;
    line-height: 30px;
  }
  .social_buttons {
    margin: 0;
    margin-bottom: 82px;
  } 
    .game_menu {
        width: 251px
  }
  .game_menu a,
  .game_menu .button_link {
    font-size: 20px;
    line-height: 20px;
    padding: 9px 50px 11px;
  }
}