
.title_container {
  width: 550px;
  margin: 0 auto;
  font-family: HSE Sans;
  font-style: normal;
  font-weight: normal;
}

.title_container h2 {
  margin-top: 150px;
  margin-bottom: 81px;
  font-size: 60px;
  line-height: 64px;
  font-style: normal;
  font-weight: normal;
}
.list_wrapper {
    width: auto;
   padding-left: 6rem;
   padding-right: 6rem;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
}
.list_wrapper::after {
  content: "";
  flex: auto;
}
.list_item {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 20px;
}
.item_link {
    font-family: HSE Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    position: relative;
    top: 9px;
    color: #151514;
    user-select: none;
}
.passed {
  background-color:#ffffff;
}
.current {
    background-color:#C7D332;
}

.special {
    background-color: #C64839;
    opacity: 0.5;
}
.special_passed {
  background-color: #C64839;
}

.special a,
.special_passed a{
    color: #ffffff;
}

.quiz_title {
    position: relative;
  }
  

@media (max-width: 990px) {
  .list_wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .list_item {
    width: 50px;
    height: 50px;
    margin-right: 5px;
  }
  .item_link {
    font-size: 18px;
    line-height: 20px;
    top: 15px;
  }
  .title_container {
      width: 300px;
      margin: 0 auto;
   }
  .title_container h2 {
    font-size: 24px;
    line-height: 30px;
    margin: 18px 0;
  }
}

@media (min-width: 1300px) {
  .list_wrapper {
    width: 1250px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}