body {
  text-align: center;
  background-color: seashell;
  color: #FFFFFF;
  font-family: HSE Sans;
  backdrop-filter: blur(25px);
}

.blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  filter: blur(5px);
}
.show {
  display: block;
}

.hidden {
  display: none;
}