body {
  text-align: center;
  background-color: seashell;
  color: #FFFFFF;
  font-family: HSE Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
}

.content_wrapper {
  background-color: seashell;
  color: #FFFFFF;
  width: 100vw;
  height: 100vh;
}
.blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
    -o-filter: blur(2px);
   -ms-filter: blur(2px);
       filter: blur(2px);
}
.show {
  display: block;
}

.hidden {
  display: none;
}